@using Class50_SimchaFund.Web.Models;
@using Class50_SimchaFund.Data;
@model SimchaContributionsViewModel;

<div class="container">
    <main role="main" class="pb-3" style="margin-top: 60px;">

        <div class="header">
            <h1>Contributors for the @Model.Simcha.Name</h1>
        </div>
        <div class="table-responsive">
            <form method="POST" action="/simchas/updatecontributions">
                <input type="hidden" name="simchaId" value="@Model.Simcha.Id" />
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Contribute</th>
                            <th>Name</th>
                            <th>Balance</th>
                            <th>Always Include</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int i = 0;}
                        @foreach(Contributor contributor in Model.Contributors)
                        {
                        <tr>                            
                            <td>  
                                <input type="hidden" name="contributions[@i].id" value="@contributor.Id" />
                                @if (@contributor.AlwaysInclude|| @contributor.Include)
                                {
                                    <input class="contribute" type="checkbox" name="contributions[@i].Include" checked value="true" />
                                }
                                else
                                {
                                    <input class="contribute" type="checkbox" name="contributions[@i].Include" value="true" />
                                }

                            </td>

                            <td>@contributor.FirstName @contributor.LastName</td>
                            <td>@contributor.Balance.ToString("C")</td>

                            <td style="text-align: center;">
                                <span class="@(contributor.AlwaysInclude ? "oi oi-check" : " " )"></span>
                            </td>

                            <td>
                                <input type="text" name="contributions[@i].amount" class="form-control" value=@(contributor.Amount == 0 ? "5.0000" : $"{contributor.Amount}" ) />
                            </td>
                            @{ i++;}
                        </tr>                    
                        }
                    </tbody>           
                </table>
                <div style="text-align:center;">
                    <button class="btn-lg btn-danger">Update</button>
                </div>
            </form>
        </div>
    </main>
</div>